asyncmy
fastapi
uvicorn
python-dotenv
pymysql
DBUtils
openai
httpx
openai-agents
mcp
pystun3
mcp-server-baidu-maps
cryptography
elasticsearch[async]==8.19.3
fastapi[standard]
huggingface-hub
jieba
langchain
langchain-deepseek
langchain-huggingface
langgraph
loguru
omegaconf
pyyaml
qdrant-client
sqlalchemy
transformers
torch==2.12.1
torchvision==0.27.1
