# ====================== LangChain 大语言模型应用框架 ======================
langchain>=1.3.14
langchain-openai>=1.3.5
langchain-community>=0.4.1
langchain-core>=1.4.9

# ====================== Web 服务框架与服务器 ======================
fastapi>=0.139.2
uvicorn>=0.51.0

# ====================== 数据库驱动 ======================
mysql-connector-python~=9.7.0


# ====================== 向量数据库与云服务 ======================
pinecone~=9.1.0
dashscope>=1.26.4

# ====================== 工具与辅助库 ======================
python-dotenv>=1.2.2
requests>=2.34.2
pydantic~=2.13.4
